{% extends "master.html" %}


{% block content %}
<!-- list -->
{% set navigation_bar = [
("main", "/settings"),
("change password", "/settings/change_pw")
] %}
{% set active_page = active_page|default('main') %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav flex-column">
                {% for title, url in navigation_bar %}
                <li class="nav-item">
                    <a class="nav-link {% if title == active_page %} active {% endif %}" href="{{url}}">{{title}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <!-- block -->
            {% block settings_pane %}
            main
            {% endblock %}
        </div>
    </div>

</div>


{% endblock %}