{% extends "master.html" %}
{% block content %}
<table>
{% for interface in data %}
    <tr>
        <th>interface: {{interface.name}}</th>
    </tr>
    {% for address in interface.entries %}
    <tr class="address" onclick=select(this)>
        <td class="ip">{{address[0]}}</td>
        <td class="mac">{{address[1]}}</td>
    </tr>
    {% endfor %}
{% endfor %}


</table>

<form>

    <input type="text" id="mac">
    <button id="wake">Wake!</button>
</form>

<script>

function select(caller){
    var mac = $(caller).find(".mac").text()
    $("#mac").val(mac);
}
</script>
{% endblock %}

