<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="{{ url_for('index') }}">WoL</a>
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('arp') }}">arp</a>
        </li>
        {% if current_user.is_admin %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('settings') }}">settings</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('credits') }}">credits</a>
        </li>
    </ul>
    <div class="nav navbar-nav navbar-right ml-auto ">
        {% if current_user.is_authenticated %}
        <div class="header-login">Logged in as {{current_user.username}} <a href="{{ url_for('logout') }}">log out</a></div>
        {% else %}
        <a class="header-login" href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
</nav>


{% block content %}
No Content...
{% endblock %}
</body>
</html>
