<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
          crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Wol interface</h1>
        {% if current_user.is_authenticated %}
            hello {{current_user.username}}
        {% else %}
            Not logged in
        {% endif %}

        {% block content %}
        No Content...
        {% endblock %}
    </body>
</html>
